<div class="hero">
  <br/>
  <br/>
  <div class="black-box col-md-10 offset-md-1 text-center">
    <div class="headline">
      <h1 class="clearfix hidden-xs-down">Streamline</h1>
      <h4 class="clearfix hidden-sm-up">Streamline</h4>
      <br/>
      <h4>"to make an organization or system more efficient and effective by employing faster or simpler working methods"</h4>
    </div>
  </div>
</div>
<div class="hero-2">
  <div class="container justify-content">
    <div class="row text-center services">
      <div class="white-box col-md">
        <li>Accounting and bookkeeping in Portland and the surrounding metro area</li>
        <br/>
        <li>Our rates are competitive and easy to understand</li>
        <br/>
      </div>
     
      <div class="white-box col-md">
        <li>We love what we do and it shows!</li>
        <br/>
        <br/>
        <br/>
       
          <!-- Button trigger modal -->
        <button type="button" class="btn btn-special" data-toggle="modal" data-target="#myContactModal">
          Contact Us Today
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myContactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Contact Us Here!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= simple_form_for @contact, url: contacts_path do |f| %>
                  <%= f.input :name, placeholder: "Jane Smith"%>
                  <%= f.input :email, placeholder: "jane@example.com"%>
                  <%= f.input :message, placeholder: "I would like to talk to you about my business finances."%>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <%=f.submit "Send", class: 'btn btn-special' %>
              </div>
                <%end%>
            </div>
          </div>
        </div>
      </div>
              
              
      <div class="white-box col-md">
        <li>Get real-time information on company financial data in a format you can use</li>
        <br/>
        <li>Feel secure knowing your accounting is up-to-date and compliant at all times</li>
        <br/>
      </div>
    </div>
  </div>
</div>
          
