<br/>
<div class="black-box col-10 offset-1">
  <h1>Contact Us Here!</h1>
  <%= simple_form_for @contact, url: contacts_path do |f| %>
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :message %>
    <br />
    <%= f.submit "Send", class: 'btn btn-primary' %>
    <br/>
  <%end%>
  <br/>
</div>