<!DOCTYPE html>
<html>
  <head>
    <title>Streamline</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /><style>
      @import url('https://fonts.googleapis.com/css?family=Arvo|Oxygen+Mono|Philosopher|Sacramento');
    </style>
  </head>

  <body>
    <div id="flex-container">
      <nav class="navbar">

        <!-- <div class="container-fluid"> -->
        <div class="row">
          <div class="col-md-1">
            <%= link_to root_path do%>
            <%= image_tag "logo1.jpg",  class: 'logo'%>
            <% end %>
          </div>
          <div class="clr">
          <div class="clearfix hidden-sm-down col-md-10">
            <%= link_to 'Streamline Accounting, LLC', root_path, class: "navbar-brand" %>
          </div>
          <div class="clearfix hidden-md-up col-md-10">
            <h2>Streamline Accounting, LLC</h2>
          </div>
          <!-- <div class="clearfix hidden-lg-up"></div> -->
          <!-- <div class="clr"> -->
        </div>
        <!-- </div> -->
      </nav>
      <div class="container-fluid">
      <% if notice.present? %>
        <p class="alert alert-info"><%= notice %></p>
      <%end%>
      <% if alert.present? %>
        <p class="alert alert-danger"><%= alert %></p>
      <%end%>
      <%= yield %>
      </div>

      <div class="footer">
        <div class="container-fluid">
          <div class="row">
          <div class="col-md text-center">
            <u>CONTACT</u>
            <li>Make an appointment and visit soon!</li>
             <%= link_to "", class: 'phone' do%>
              <i class="fa fa-phone"></i>
               &nbsp;971.235.8721
            <% end %>
          </div>
          <br/>
          <div class="col-md text-center">
            <u>HOURS</u>
            <li>Monday - Friday: 10am - 4pm</li>
            <li>By Appointment</li>
            <li>Saturday & Sunday: Closed</li>
          </div>
          <div class="col-md text-center">
            <u>PLACEHOLDER</u>
            <li>Example</li>
            <li>Example</li>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
