<!DOCTYPE html>
<html>
  <head>
    <title>Streamline</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Arvo|Oxygen+Mono');
    </style>
  </head>

  <body>
    <div id="flex-content-container">
      <nav class="navbar">
        <div class="row">
          <div class="col-sm-1 col-12">
            <%= image_tag "logo1.jpg",  class: 'logo'%>
          </div>
          <div class="col-sm-9 col-12">
            <%= link_to 'Streamline', root_path, class: "navbar-brand" %>
          </div>
        </div>
      </nav>
      <% if notice.present? %>
        <p class="alert alert-info"><%= notice %></p>
      <%end%>
      <% if alert.present? %>
        <p class="alert alert-danger"><%= alert %></p>
      <%end%>
      <%= yield %>
      <div id="footer">
        <div class="container">
          <div class="row text-center">
            <div class="col-12 col-sm-3">
              <u>HOME</u>
              <br/>
              <%= link_to '', "#" %>
              <br />
              <%= link_to '', "#" %>
            </div>
            <div class="col-12 col-sm-3">
              <u>ABOUT</u>
              <br/>
               <%= link_to '', "#" %>
              <br />
               <%= link_to '', "#" %>
            </div>
            <div class="col-12 col-sm-3">
              <u>CONTACT</u>
              <br/>
              <!-- <a href="mailto:gretchen.zigzag@gmail.com" class="contact_link">gretchen.zigzag@gmail.com</a> -->
              <br />
              <!-- <a href=http://zigzagwebdesigns.com>zigzagwebdesigns.com</a> -->
            </div>
            <div class="col-12 col-sm-3 social">
              <u>SOCIAL</u>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </body>
</html>
